@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.ms-section{
			text-align: center;
		}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(226, 226, 226, 0.3);
	-webkit-border-radius: 10px;
			border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgb(226, 226, 226);
	color: #000;
}
#menu li a{
	text-decoration:none;
	color: #234465;
}
#menu li.active a:hover{
	color: #234465;
}
#menu li:hover{
	background: rgb(226, 226, 226);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #000;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

/*==================*/
/* ---- canvas ---- */

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #b61924;*/
    /*background: linear-gradient(45deg, rgba(102, 0, 102, 1) 0%, rgba(157, 33, 99, 1) 18%, rgba(204, 0, 102, 1) 35%, rgba(204, 0, 102, 1) 66%, rgba(157, 33, 99, 1) 100%);*/

}

/* ---- stats.js ---- */



.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}
/*===============================*/

/*#typed{
    font-size: 20px;
    color: #233237;
}*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.typed-cursor {
    transform: translateY(-50%);
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 0 0 7px #9e9e9e;
    font-weight: bold;
    margin-left: 5px;
}
/*========================================*/
/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
/*============================================*/

/*
background-color: #985E6D;
background-color: #a87781;
background-color: #b99199;
background-color: #CDA34E;
background-color: #eac67a;
color: #fff;
 '#0a3150',
color: #233237;
color: #326292;
*/

/*============================================*/
/*sections-backgrounds*/

#right1{
      /*background: url(../images/blue-dark.jpg) center;*/
      background-image: url(../images/net.png);
      background-repeat: no-repeat;
      /*background-position: 50%;*/
      text-align: center;
      /*background-color: #18121e !important;*/
      /*background-color: #e8e1d8 !important;*/
      /*background-color: #e8e8e8 !important;*/

      /*background-color: #d8d8d8 !important;*/
      /*background-color:#afb0b5 !important;*/

      /*background-color: #274c5d !important;*/
      background-size: contain;
      /*top: 50%;*/
      background-position: 50%;

}
/*#left2, #left3{
  background-color: #e8e8e8 !important;
}*/

#left4{
  background-color: rgb(240, 215, 162) !important;
}
#right2{
  /*background-color: #e8e8e8 !important;*/
}
#right3{
  background-color: #fff !important;
}
#right4{
  background-color: rgb(240, 215, 162) !important;
}
#right5{
  background-color: #274c5d !important;
}

.intro-sec {
     /*position: absolute;
     top: 50%;
     transform: translateY(-50%);*/
     position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    top: -160%;
 }
.bg-white{
  background: #fff;
}
.width-30{
  width: 30%;
}
.line-height-normal{
      line-height: normal;
}
#typed-strings p {
    font-size: 5em;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
}

/*logo-in center section3*/

#left1 .intro, #left2 .intro, #left3 .intro, #left4 .intro{
    width: 100%;
    text-align: center;
    left: 50%;
}

#right1 .intro ,#right2 .intro ,#right3 .intro ,#right4 .intro {
    width: 100%;
    text-align: center;
    right: 50%;
}
.intro p{
    text-align: center;
    color: #274c5d;
}
#left1 .intro, #left3 .intro, #left4 .intro,
#right1 .intro ,#right3 .intro ,#right4 .intro  {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
 #left2 .intro,#right2 .intro {
    position: absolute;
    top: 3%;
    transform: translateY(-50%);
 }
 #left3 .intro,#right3 .intro {
    position: absolute;
    top: 3%;
    transform: translateY(-50%);
 }
 #left4 .intro,#right4 .intro {
    position: absolute;
    top: 3%;
    transform: translateY(-50%);
 }


#left1 , #left2 , #left3, #left4 ,
#right1 ,#right2 ,#right3,#right4 {
    overflow: hidden;
}

.icon-big{
  font-size: 12em;
  color: #eac67a;
}
.icon-contact {
    font-size: 12em;
    color: #fff;
}
.egc-contact{
  color: #fff;
  font-size: 1.5em;
  padding: 5rem;
  text-align: center;
}
#right3 p{
  font-size: 1.5em;
  padding-left: 4rem;
  padding-right: 3rem;
}
#left3 .about-us{
  font-size: 1.5em;
  padding: 5rem;
  text-align: center;
}

/*section cards pricing*/
.egc-golden{
  color:#eac67a !important;
}
.egc-rusty-red{
  /*color:#B99199 !important;*/
  color:#985E6D !important;
}
.egc-blue{
  color: #326292 !important;
}
.tabs .indicator {
background-color: #326292;
}
blockquote{
  border-left:5px solid #B99199 !important;
  margin: 10px 0  !important;
}
.icon-pricing {
  font-size: 35px;
  padding: 20px;
  display: block;
  text-align: center;
  /*background-color: #b99199;*/
  background-color: #fff;
  color: rgb(234, 198, 122);
  /*color: #233237;*/
}
.icon-pricing-lang {
  font-size: 35px;
  padding: 20px;
  display: block;
  text-align: center;
  /*background-color: #b99199;*/
  background-color: #234465;
  color: rgb(234, 198, 122);
  /*color: #233237;*/
}
.icon-pricing-tab {
  font-size: 35px;
  padding: 6px;
  display: block;
  text-align: center;
  background-color: #b99199;
  /*background-color: #234465;*/
  color: #fff;
  /*color: #233237;*/
}
.card-title {
    font-size: 24px !important;
    font-weight: 300 !important;
}
#right3 .card .card-action {
    padding: 10px;
}
.price{
  font-size: 20px;
  vertical-align: top;
}
.price .material-icons {
  line-height: 1.2;
}
.card-image {
background-color: rgb(35, 68, 101);
}
.tabs .tab a {
    font-size: 16px;
}
blockquote {
    padding-left: 6px;
}
.card .card-action {
    padding: 10px;
}
/*.tabs .tab a:hover, .tabs .tab a.active{
  color:#233237 !important;
}*/

#typed-strings .egc-name{
  transform: translateY(-50%);
  color: #fff;
  font-size: 5em;
  text-transform:uppercase;
}
.font-140{
  font-size: 140px;
}
.text-shadow {
  text-shadow: 0 0 7px #9e9e9e;
}
.social-facebook{
  background-color: #3b5998;
}
.social-twitter{
  background-color: #00aced;
}
.social-facebook:hover,.social-facebook:active {
  background-color: #324b80;
}
.social-twitter:hover,.social-twitter:active {
    background-color: #0094cc;
}
#right2  .col.m12{
      width: 100%;
      text-align: center;
      right: 50%;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
}
#left2  .col.m12{
  width: 100%;
  text-align: center;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}
.bold{
  font-weight: bold !important;
}
.border-top{
  border-top: 1px solid rgba(160,160,160,0.2);
}
.border-bottom{
  border-bottom: 1px solid rgba(160,160,160,0.2);
}
/*=================menu======================*/
#menu {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 38%;
  opacity: 1;
  left: 17px;
  float: left !important;
  width: initial;
}
#menu li{
    display: block;
    border-radius: 0px;
    margin: 2px;
}
#typed{
  transform: translateY(-50%);
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 0 0 7px #000;
  font-weight: bold;
}

/*mobile*/
@media (max-width:800px){
  #typed-strings .egc-name{
    transform: translateY(-50%);
    color: #fff;
    font-size: 4em;
    text-transform: uppercase;
}
 #typed{
   transform: translateY(-50%);
   color: #fff;
   font-size: 2em;
   text-transform: uppercase;
   text-shadow: 0 0 7px #000;
   font-weight: bold;
}
.typed-cursor {
    font-size: 2em;
}
.intro-sec {
    top: -280%;
}
}
@media(max-width:500px){
.icon-pricing {
  font-size: 165px;
  padding: 10px;
}
.ms-right {
    width: 100% !important;
}
.ms-left {
    width: 100% !important;
}
}
/*=======================================================================*/

.section1 .intro{
    width: 100%;
    text-align: center;
}
.section1 .intro p {
    text-align: center;
    color: rgba(255,255,255,0.9);

}
.section1 .intro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#section1-left .intro{
    left: 50%;
}
#section1-right .intro{
    right: 50%
}
#section1-left h1,
#section1-right h1{
    width: 100%;
    color: white;
    z-index: 999;
    font-weight: bold;
    text-align: center;

    display: block;
    margin: 0;
    padding: 0;
    font-size: 7em;
}
#section1-left{
    background: #EC6367;
}
#section1-left h1{
    left: 50%;
}
#section2-left{
    background: #fff;
    color:#a7a7a7;
}
#section2-left .intro{
    padding: 0 0 60px 0;
}
#section2-left .intro:last-child{
    padding: 0;
}
#section2-left h2{
    font-size: 1.7em;
}
#section3-left{
   background-color: #27474E;
   background-image: url('imgs/cards.jpg');
   background-repeat: no-repeat;
   background-position: 50%;
}
#section1-right h1{
    left: -50%;
}
#section1-right{
    background-color: #afb0b5;
    background-image: url(imgs/girl.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;

}
#section1-right.hideOverflow{
    overflow: hidden;
}
#section2-right{
    background: #ffe164;
    text-align: center;
    background-image: url(imgs/phone.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
#section3-right{
    background: #66D7D1;
    text-align: right;
    color: #fff;
}
#section3-right h2{
    color: #fff;
}
.button a{
    background: #fff;
    color: #e7413b;
}

.ms-responsive #section1-left .intro{
    left: 0;
}
.ms-responsive #section1-right .intro{
    display: none;
}
.z-depth-1, nav,
.card-panel, .card,
.toast, .btn, .btn-large,
 .btn-floating, .dropdown-content,
  .collapsible,
   .side-nav {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0.5px rgba(0, 0, 0, 0.12) !important;
}

/*
* Improving design in small resolutions
*/
@media all and (max-width:700px){
    #section1-left h1,
    #section1-right h1{
        font-size: 5em;
    }
}
@media all and (max-width:550px){
    #section1-left h1,
    #section1-right h1{
        font-size: 4em;
    }
}
@media all and (max-width:400px){
    #section1-left h1,
    #section1-right h1{
        font-size: 3em;
    }
    .section1 .intro p{
        font-size: 1em;
    }
}
